/* Achievements Grid */
.achievement-frame {
  border: 1px solid black;
}

/* Obtained Achievements */
.obtained-frame {
  border: 1px solid black;
  padding: 10px;
}

/* Next Achievements */
.next-frame {
  border: 1px solid black;
  padding: 10px;
}

/* Progress Bar */
.progress-frame {
  border: 1px solid black;
  padding: 10px;
}

/* Additional Progress Bar */
.additional-progress-bar {
  border: 1px solid black;
  padding: 10px;
}