<!DOCTYPE html>
<html>
<head>
  <title>Страница наград и прогресс-баров</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 text-center">
        <h2>Награды, которые не получены</h2>
        {% for award in unclaimed_awards %}
        <div class="card border-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">{{ award.name }}</div>
          <div class="card-body">
            <p class="card-text">{{ award.desc }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="col-md-6 text-center">
        <h2>Награды, которые можно получить</h2>
        {% for award in available_awards %}
        <div class="card border-success mb-3" style="max-width: 18rem;">
          <div class="card-header">{{ award.name }}</div>
          <div class="card-body">
            <p class="card-text">{{ award.desc }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="col-md-4 text-center">
        <h2>Награды, которые уже получены</h2>
        {% for award in received_awards %}
        <div class="card border-info mb-3" style="max-width: 18rem;">
          <div class="card-header">{{ award.name }}</div>
          <div class="card-body">
            <p class="card-text">{{ award.desc }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="row mt-4">
      <div class="col text-center">
        <h2>Прогресс</h2>
        <div class="d-flex justify-content-center">
          <div id="progress-bars">
            {% for progress in progress_bars %}
            <div class="progress mb-3">
              <div class="progress-bar" role="progressbar" style="width: {{ (progress.cur / progress.max) * 100 }}%;" aria-valuenow="{{ progress.cur }}" aria-valuemin="0" aria-valuemax="{{ progress.max }}"></div>
            </div>
            <p><strong>{{ progress.name }}</strong>: {{ progress.desc }}</p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
